div.view-id-uw_publications div.views-row {
  margin-bottom: 1em;
}

div.view-id-uw_publications div.views-row li.biblio_google_scholar {
  display: none;
}

div.view-id-uw_publications div.views-row li.biblio_crossref {
  display: none;
}

div.view-id-uw_publications div.views-row li.biblio_bibtex {
  display: none;
}

div.view-id-uw_publications div.views-row li.biblio_tagged {
  display: none;
}

div.view-id-uw_publications div.views-row li.biblio_xml {
  display: none;
}

div.view-id-uw_publications div.views-row li.biblio_ris {
  display: none;
}

div.view-id-uw_publications div.views-row div.views-field-biblio-notes {
  color: #e00;
  margin-top: 0.2em;
}

div.view-id-uw_publications.view-display-id-block_1 ul li {
  margin-bottom: 0.75em;
}

div.biblio-category-section ul li.biblio_google_scholar {
  display: none;
}

div.biblio-category-section ul li.biblio_crossref {
  display: none;
}

div.biblio-category-section ul li.biblio_bibtex {
  display: none;
}

div.biblio-category-section ul li.biblio_tagged {
  display: none;
}

div.biblio-category-section ul li.biblio_xml {
  display: none;
}

div.biblio-category-section ul li.biblio_ris {
  display: none;
}

div.biblio-export {
  display: none;
}

#block-views-uw-publications-block-2 {
  margin-top: 20px;
}

#content #block-views-uw-publications-block-2 .view-uw-publications .view-content {
  padding-top: 0;
}
